@Scripts.Render("~/bundles/admin")
<h2>Upravljanje korisnicima</h2>
<script>
    users = {
        0: {
            id: 0,
            name: "Gica Prasić",
            picture: "@Url.Content("~/Content/img/gica.png")",
            admin: false,
            status: "ok",
            banDate:new Date()
        },
        1: {
            id: 0,
            name: "Marvin Marsovac",
            picture: "@Url.Content("~/Content/img/marsovac.png")",
            admin: false,
            status: "ok",
            banDate: new Date()
        },
        2: {
            id: 0,
            name: "Pepe Le Tvor",
            picture: "@Url.Content("~/Content/img/pepe.png")",
            admin: false,
            status: "ok",
            banDate: new Date()
        },
        3: {
            id: 0,
            name: "Sima Strahota",
            picture: "@Url.Content("~/Content/img/sima.png")",
            admin: false,
            status: "ok",
            banDate: new Date()
        },
        4: {
            id: 0,
            name: "Tasmanijski Đavo",
            picture: "@Url.Content("~/Content/img/tas.png")",
            admin: false,
            status: "ban",
            banDate: new Date()
        },
        5: {
            id: 0,
            name: "Tviti",
            picture: "@Url.Content("~/Content/img/tviti.gif")",
            admin: false,
            status: "ok",
            banDate: new Date()
        },
    }
</script>
<div class="modal" id="confirm-delete">
    <div class="modal-inner modal-inner-noscroll">
        <a href="#"><div style="float:right;padding-right:16px;font-family:'Segoe UI'" onclick="$('.modal').css('display', 'none')"><i class="fa fa-close pull-right" aria-hidden="true"></i></div></a><br />
        <h2>BRISANJE NALOGA</h2>
        <div>Ako potvrdite brisanje, biće obrisan nalog kao i sve poruke koje je poslao. Da li želite da nastavite sa brisanjem</div>
        <a href="#" onclick="confirmDelete()"><div style="text-align:center"><i class="fa fa-close" aria-hidden="true"><span style="font-family:Arial">NASTAVI</span></i></div></a>
        <ul id="friend-list"></ul>
    </div>
</div>
<div class="modal" id="register-new-admin">
    <div class="modal-inner modal-inner-smaller modal-inner-noscroll">
        <a href="#"><div style="float:right;padding-right:16px;font-family:'Segoe UI'" onclick="$('.modal').css('display', 'none')"><i class="fa fa-close pull-right" aria-hidden="true"></i></div></a><br />
        <h2>REGISTRACIJA NOVOG ADMINISTRATORA</h2>
        <input class="form-control" type="text" placeholder="Korisničko ime" />
        <input class="form-control" type="text" placeholder="Lozinka" />
        <input class="form-control" type="button" value="Registruj" onclick="$('.modal').css('display', 'none');confirmAdminRegister()"/>
    </div>
</div>
<div id="search-div"><input type="text" class="form-control" id="user-search" onkeyup="searchUsers()" placeholder="Unesite ime korisnika kojeg tražite"/></div>
<div id="search-list-div">
    <table id="user-list" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Korisnik</th>
                <th>Status</th>
                <th>Do</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="user-list-body">
        </tbody>
    </table>
</div>

