@Scripts.Render("~/bundles/poruke")
<script>
    var friends = [
        {
            id: 0,
            name: "Gica Prasić",
            picture: "@Url.Content("~/Content/img/gica.png")",
            admin: false
        },
        {
            id: 0,
            name: "Marvin Marsovac",
            picture: "@Url.Content("~/Content/img/marsovac.png")",
            admin: false
        },
        {
            id: 0,
            name: "Pepe Le Tvor",
            picture: "@Url.Content("~/Content/img/pepe.png")",
            admin: false
        },
        {
            id: 0,
            name: "Sima Strahota",
            picture: "@Url.Content("~/Content/img/sima.png")",
            admin: false
        },
        {
            id: 0,
            name: "Tasmanijski Đavo",
            picture: "@Url.Content("~/Content/img/tas.png")",
            admin: false
        },
        {
            id: 0,
            name: "Tviti",
            picture: "@Url.Content("~/Content/img/tviti.gif")",
            admin: false
        },
    ]
    var groups = [
        {
            id: 0,
            name: "Nova grupa",
            admin: false
        },
        {
            id: 1,
            name: "Patak Dača",
            picture: "@Url.Content("~/Content/img/daca.jpg")",
            admin: false,
            messages: [
                {
                    sent: false,
                    picture: false,
                    text: "Dulee, Duškoo, imaš posetu"
                },
                {
                    sent: false,
                    picture: false,
                    text: "Samo kvarni opstaju, hehe"
                },
                {
                    sent: true,
                    picture: false,
                    text: "Jel to neko kucao"
                }
            ]
        },
        {
            id: 2,
            name: "Elmer Davež",
            picture: "@Url.Content("~/Content/img/elmer.png")",
            admin: false,
            messages: [
                {
                    sent: true,
                    picture: false,
                    text: "Hej, šefe, koji ti je vrag?"
                },
                {
                    sent: false,
                    picture: false,
                    text: "E, sad si moj, ti zekonjo"
                },
                {
                    sent: true,
                    picture: false,
                    text: "Je li, šefe, tebi se baš ide u buvaru, a?"
                }
            ]
        },
        {
            id: 3,
            name: "Looney Tunes",
            picture: "@Url.Content("~/Content/img/ltunes.jpg")",
            admin: true,
            group: true,
            members: [
                {
                    name: "Patak Dača",
                    picture: "@Url.Content("~/Content/img/daca.jpg")",
                },
                {
                    name: "Elmer Davež",
                    picture: "@Url.Content("~/Content/img/elmer.png")",
                }
            ],
            messages: [
                {
                    sent: false,
                    sender: "Patak Dača",
                    text: "Sezona zečeva",
                    senderpic: "@Url.Content("~/Content/img/daca.jpg")",
                },
                {
                    sent: true,
                    text: "Sezona pataka",
                    senderpic: "@Url.Content("~/Content/img/dusko.jpg")",
                },
                {
                    sent: false,
                    sender: "Patak Dača",
                    text: "Sezona zečeva",
                    senderpic: "@Url.Content("~/Content/img/daca.jpg")",
                },
                {
                    sent: true,
                    text: "Sezona pataka",
                    senderpic: "@Url.Content("~/Content/img/dusko.jpg")",
                },
                {
                    sent: false,
                    sender: "Patak Dača",
                    text: "Sezona zečeva",
                    senderpic: "@Url.Content("~/Content/img/daca.jpg")",
                },
                {
                    sent: true,
                    text: "Sezona zečeva",
                    senderpic: "@Url.Content("~/Content/img/dusko.jpg")",
                },
                {
                    sent: false,
                    sender: "Patak Dača",
                    text: "Sezona pataka, PUCAJ!",
                    senderpic: "@Url.Content("~/Content/img/daca.jpg")",
                },
                {
                    sent: false,
                    sender: "Elmer Davež",
                    senderpic: "@Url.Content("~/Content/img/elmer.png")",
                    sentpic: "@Url.Content("~/Content/img/duckseason.png")",
                },
            ]
        },
        {
            id: 4,
            name: "Space Jam",
            picture: "@Url.Content("~/Content/img/spacejam.gif")",
            admin: false,
            group: true,
            members: [
                {
                    name: "Patak Dača",
                    picture: "@Url.Content("~/Content/img/daca.jpg")",
                },
            {
                name: "Elmer Davež",
                picture: "@Url.Content("~/Content/img/elmer.png")",
            }
            ],
            messages: [
                {
                    sent: false,
                    sender: "Patak Dača",
                    text: "Sezona zečeva",
                    senderpic: "@Url.Content("~/Content/img/daca.jpg")",
                },
            {
                sent: true,
                text: "Sezona pataka",
                senderpic: "@Url.Content("~/Content/img/dusko.jpg")",
            },
            {
                sent: false,
                sender: "Patak Dača",
                text: "Sezona zečeva",
                senderpic: "@Url.Content("~/Content/img/daca.jpg")",
            },
            {
                sent: true,
                text: "Sezona pataka",
                senderpic: "@Url.Content("~/Content/img/dusko.jpg")",
            },
            {
                sent: false,
                sender: "Patak Dača",
                text: "Sezona zečeva",
                senderpic: "@Url.Content("~/Content/img/daca.jpg")",
            },
            {
                sent: true,
                text: "Sezona zečeva",
                senderpic: "@Url.Content("~/Content/img/dusko.jpg")",
            },
            {
                sent: false,
                sender: "Patak Dača",
                text: "Sezona pataka, PUCAJ!",
                senderpic: "@Url.Content("~/Content/img/daca.jpg")",
            },
            {
                sent: false,
                sender: "Elmer Davež",
                senderpic: "@Url.Content("~/Content/img/elmer.png")",
                sentpic: "@Url.Content("~/Content/img/duckseason.png")",
            },
            ]
        },
        {
            id: 5,
            name: "Pepe Le Tvor",
            picture: "@Url.Content("~/Content/img/pepe.png")",
            admin: false,
            isRequest: true,
            sent: false,
            messages: []
        },
    ]
</script>
<style>
    @@media screen and (max-width: 500px) {
        .root-div {
            padding-top: 0px;
        }

        #nav-menu {
            display: none
        }

        #nav-menu-open {
            display: block;
        }
    }
</style>
<div class="modal" id="picture-display">
    <div class="modal-inner" id="picture-display-inner">
        <a href="#"><div style="float:right;padding-right:16px;font-family:'Segoe UI'" onclick="closeModal()"><i class="fa fa-close pull-right" aria-hidden="true"></i></div></a><br />
        <img class="display-picture" />
    </div>
</div>
<div class="modal" id="friendsearch">
    <div class="modal-inner">
        <div id="zahtev-poslat" style="display:none;float:left;font-family:'Segoe UI';padding-left:10px;font-size:12px">Zahtev poslat</div>
        <a href="#"><div style="float:right;padding-right:16px;font-family:'Segoe UI'" onclick="closeModal()"><i class="fa fa-close pull-right" aria-hidden="true"></i></div></a><br />
        <input type="text" class="form-control" id="friend-search" placeholder="Kucajte ime prijatelja" onkeyup="refreshFriends()" />
        <ul id="friend-list"></ul>
    </div>
</div>
<div class="modal" id="groupedit">
    <div class="modal-inner">
        <a href="#"><div style="float:right;padding-right:16px;font-family:'Segoe UI'" onclick="closeGroupEdit();"><i class="fa fa-close pull-right" aria-hidden="true"></i></div></a><br />
        <input type="text" class="form-control" id="groupedit-name" placeholder="Unesite ime grupe" /><i class="fa fa-file-picture-o" style="padding-left:10px" aria-hidden="true" onclick="$('#fileupload').click()"></i><br />
        <input type="text" class="form-control" id="groupedit-search" placeholder="Kucajte ime prijatelja" onkeyup="refreshGroupedit()" />
        <ul id="groupedit-list"></ul>
    </div>
</div>
<div class="modal" id="newgroup">
    <div class="modal-inner">
        <a href="#"><div style="float:left;padding-left:16px;font-family:'Segoe UI'" onclick="createNewGroup();"><i class="fa fa-check pull-right" aria-hidden="true"></i></div></a>
        <a href="#"><div style="float:right;padding-right:16px;font-family:'Segoe UI'" onclick="closeModal()"><i class="fa fa-close pull-right" aria-hidden="true"></i></div></a><br />
        <input type="text" class="form-control" id="newgroup-name" placeholder="Unesite ime grupe" onkeyup="refreshnewgroup()" /><i class="fa fa-file-picture-o" style="padding-left:10px" aria-hidden="true" onclick="$('#fileupload').click()"></i><br />
        <input type="text" class="form-control" id="newgroup-search" placeholder="Unesite ime prijatelja" onkeyup="refreshnewgroup()" />
        <ul id="newgroup-list"></ul>
    </div>
</div>
<div id="groups">
    <div id="group-search-div">
        <i class="fa fa-search pull-right search-icon" aria-hidden="true"></i>
        <input type="text" class="form-control" id="group-search" placeholder="Pretraga" onkeyup="refreshGroups()" />
    </div>
    <ul id="group-list"></ul>
</div>
<div id="message-content" class="row app-one">
    <div class="col-sm-8 conversation">
        <div class="row heading" id="messages-content-heading">
            <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                    <img id="group-picture" src="">
                </div>
            </div>
            <div class="col-sm-8 col-xs-7 heading-name">
                <span class="heading-name-meta" id="group-name">

                </span>
                <span class="heading-online">Online</span>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot pull-right" style="font-size:12px" id="group-edit" onclick="editGroup()">
                <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot pull-right" style="font-size:12px" id="group-leave" onclick="leaveGroup()">
                <i title="Napusti grupu" class="fa fa-close fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot pull-right" style="font-size:12px" id="friend-delete" onclick="deleteFriend()">
                <i title="Obriši iz prijatelja" class="fa fa-trash fa-2x  pull-right" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row message" id="conversation">
        </div>

        <div class="row reply">
            <div class="col-sm-9 col-xs-9 reply-main">
                <textarea class="form-control" rows="1" placeholder="Unesite tekst poruke" id="sent-text"></textarea>
            </div>
            <div class="col-sm-1 col-xs-1 reply-send">
                <i class="fa fa-paperclip fa-2x" aria-hidden="true" onclick="attachFile()"></i>
            </div>
            <div class="col-sm-1 col-xs-1 reply-send">
                <i class="fa fa-send fa-2x" aria-hidden="true" onclick="sendMessage()"></i>
            </div>
            <input type="file" id="fileupload" style="display:none" accept="image/*" onchange="uploadFile()" />
        </div>
    </div>
</div>
<script>

</script>

